html {
    font-family: 'Bitter', serif;
}

strong {
    color: #f05454;;
}

#title {
    height: 100vh;
    text-align: center;
    font-family: 'Marmelad', sans-serif;
    color: #30475E;
    font-weight: 100;
}

#title h1 {
    margin-top: 20vh;
    margin-bottom: 5vh;
    font-size: 200px;
    font-weight: 100;
}

#title h3 {
    font-size: 30px;
}

#title p {
    font-family: 'Bitter', serif;
    font-size: 25px;
    margin-top: 10vh;
    margin-bottom: 10px;
}

#scroll-arrow {
    margin: 0;
}

#scroll-arrow line {
    stroke: #9FA2A6;
    stroke-width: 1.5px;
}

#background {
    height: 100vh;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 34px;
    font-family: 'Marmelad', sans-serif;
}

#background h5 {
    font-size: 34px;
    font-weight: 100;
    margin: 0;
    padding-bottom: 10px;
    width: 85%;
}

#stats1 {
    opacity: 0;
}

#stats2 {
    opacity: 0;
    padding-left: 55px;
}

#background p {
    margin: 0;
}

#background h4 {
    opacity: 0;
}

#background-vis {
    text-align: center;
    /* height: 45vh; */
}

#background-vis div {
    display: inline-block;
}

/* #lattice-vis {
    width: 60%;
} */

/* #food-counts {
    width: 30%;
    text-align: start;
    height: 45vh;
} */
.latticecircles {
    opacity: 0;
    fill: lightgray;
}

#background strong {
    font-size: 50px;
}

#part_1 {
    width: 65%;
    float: left;
}

#diet-vis {
    height: 5000px;
}

#dietSVG {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#info {
    width: 34.5%;
    float: right;
}

#info div {
    margin-top: 100vh;
    height: 50vh;
    padding-left: 20px;
    padding-right: 50px;
    font-size: 24px;
}

#intro-div {
    margin-top: 50vh;
}

#info-4 {
    padding-bottom: 15vh;
}

.extra {
    font-size: 20px;
}

#final-num {
    font-size: 50px;
    font-weight: bold;
    color: #f05454;
}